body {
    background-image: linear-gradient(black, #222222);
    overflow: none;
    
}

.header {
    min-height: 100px;
    width: 100%;
    background-image: radial-gradient(#222222, black);
}

.header img {
    position: relative;
    top: 5%;
    padding: 10px;
    width: auto;
    height: 80px;
    float: left;
}

.page-nav {
    list-style: none;
    position: relative;
    padding: 1rem;
    display: inline-block;
}

.page-nav li {
    display: inline-block;
}

.page-nav a {
    padding: 1rem;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}

.page-nav a:hover {
    background-image: radial-gradient(#222222,black);
}

/*Main Body*/

.main-body {
    height: 60vw;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #333333;
    border-radius: 5%;
}

.main-body p {
    height: 80%;
    width: 100%;
    top: 4rem;
    position: relative;
    font-size: 7vw;
    text-shadow: 2px 2px #a10c0c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #999999;
}

.main-body img {
    width: 40%;
    position: relative;
    bottom: 10vw;
    float: right;
}

/*Footer*/

.footer {
    margin-top: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 200px;
    width: 100%;
    background-color: black;
}

.footer .contact-me {
    padding-top: 10px;
    margin: 0;
    height: 150px;
    display: block;
}

.footer h3 {
    color: #555555;
    padding: 0;
    margin: 0;
}

.footer ul {
    padding: 0;
    margin: 0;
}

.footer li {
    list-style: none;
    padding: 25px;
    display: inline-block;
}

.footer a {
    text-decoration: none;
    color: #555555;
}

.footer a:hover {
    color: #999999;
}

.footer p {
    color: #555555;
    padding: 0;
    margin: 0;
}