body{
    background-image: radial-gradient(#111111, #222222);
}

body .jumbotron{
    background-image: radial-gradient(#111111, #222222);
    color: rgb(89, 131, 209);
    margin-bottom: 0;
}

nav{
    background-color: #333333;
    display: inline;
    margin-bottom: 5vh;
    font-size: 150%;
}

#main-logo{
    display: inline;
    text-decoration: none;
    font-size: 125%;
    color: rgb(89, 131, 209);
}

/*Main Body*/

body .row{
    color: rgba(245, 245, 245, 0.747);
}

.row h2{
    color: rgb(89, 131, 209);
    font-size: 40px;
}

.content{
    margin-top: 3vw;
    margin-bottom: 3vw;
    border: rgb(80, 116, 184) ridge 3px;
    box-sizing: border-box;
}

.content h3{
    color: rgb(89, 131, 209);
    padding: 2rem;
}

.content p{
    text-align: justify;
    text-indent: 3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 125%;        /*125% good for both phone and pc, or 3vh good for pc but too big on phone*/
}

.content p a{
    color: rgb(89, 131, 209);
}

body hr{
    border-top: rgb(80, 116, 184) solid 3px;
    margin: 2rem;
}

.ads{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 200%;
}

.ads a{
    text-align: center;
}

.ads a img{
    display: block;
    width: 100%;
    margin-bottom: 2rem;
}

/*Float clear*/

.clr-float {
    clear: both;
}

/*Footer*/

.footer {
    margin-top: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 200px;
    width: 100%;
    background-color: black;
}

.footer .contact-me {
    padding-top: 10px;
    margin: 0;
    height: 150px;
    display: block;
}

.footer h3 {
    color: #555555;
    padding: 0;
    margin: 0;
}

.footer ul {
    padding: 0;
    margin: 0;
}

.footer li {
    list-style: none;
    padding: 25px;
    display: inline-block;
}

.footer a {
    text-decoration: none;
    color: #555555;
}

.footer a:hover {
    color: #999999;
}

.footer p {
    color: #555555;
    padding: 0;
    margin: 0;
}